.menu-burger-container {
    height: 36px;
    width: 36px;
    display: none;
    position: relative;
    align-items: center;
}

.menu-burger::before,
.menu-burger,
.menu-burger::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    background-color: #fff;
    transition: all 400ms ease;
}

.menu-burger::before {
    transform: translateY(-16px);
}

.menu-burger::after {
    transform: translateY(16px);
}

.menu-burger-container.show .menu-burger{
    background-color: transparent;
}

.menu-burger-container.show .menu-burger::before{
    transform: rotate(225deg);
}

.menu-burger-container.show .menu-burger::after{
    transform: rotate(-225deg);
}

@media (max-width: 768px) {
    .menu-burger-container{
        display: flex;
        z-index: 1;
    }
}