:root {
    --accent-color: #FF031A;
}

body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}

@media (max-width:768px) {
    body {
        padding: 0 30px;
        background-color: #0009;
        background-blend-mode: darken;
        background-position: 90%;
    }
}