:root
{--accet-color: #ff031a;}

body
{height: 100vh;
background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000),
    url(../img/background.png);
background-repeat: no-repeat;
background-size: cover;
background-position: right;
background-blend-mode: darken;
display: flex;
flex-direction: column;
padding-left: 128px;
padding-right: 128px;}

